{% extends "base.html" %}

{% block title %}Patient Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0 rounded-4 p-4">
        <h3 class="mb-3 text-success">Patient Profile</h3>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Full Name</label>
                {{ form.full_name }}
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                {{ form.phone_number }}
            </div>

            <div class="mb-3">
                <label class="form-label">Age</label>
                {{ form.age }}
            </div>

            <div class="mb-3">
                <label class="form-label">Date of Birth</label>
                {{ form.dob }}
            </div>

            <div class="mb-3">
                <label class="form-label">Emergency Contact</label>
                {{ form.emergency_contact }}
            </div>

            <div class="mb-3">
                <label class="form-label">Medical History</label>
                {{ form.medical_history }}
            </div>

            <button class="btn btn-success w-100 mt-3" type="submit">
                Save Profile
            </button>
        </form>
    </div>
</div>
{% endblock %}
