{% extends "base.html" %}
{% block title %}Login - eClinic Connect{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 450px;">
    <h2 class="text-center">Login</h2>
    <br>

    {% if form.errors %}
    <div class="alert alert-danger">
        Please check your username and password
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary w-100">Login</button>
    </form>

    <hr>
    <p class="text-center">
        Don't have an account?
        <div class="d-flex flex-column align-items-center mt-4">
            <a href="{% url 'patient_signup' %}" class="btn btn-success btn-lg mb-3 w-50">
                Sign up as Patient
            </a>
            <a href="{% url 'clinician_signup' %}" class="btn btn-success btn-lg w-50">
                Sign up as Clinician
            </a>
        </div>
    </p>
</div>
{% endblock %}
