{% extends "base.html" %}
{% block title %}Clinician Dashboard{% endblock %}

{% block content %}
<h2>Welcome, {{ clinician.full_name }}</h2>
<p>Specialization: {{ clinician.specialization }}</p>

<div class="card shadow-sm mb-3">
    <div class="card-body">
        <h5 class="card-title mb-3">Current Status</h5>
       <div class="badge
    {% if clinician.duty_status == 'On Duty' %}
        bg-success
    {% else %}
        bg-secondary
    {% endif %}
" style="font-size: 1.2em; padding: 0.5em 1em;">
    {{ clinician.get_duty_status_display }}
</div>

    </div>
</div>

<a href="{% url 'clinician_profile' %}" class="btn btn-outline-success mb-4">Edit Profile</a>

<h3>Upcoming Appointments</h3>
<table class="table table-striped">
    <tr>
        <th>Patient</th>
        <th>Date</th>
        <th>Time</th>
        <th>Reason</th>
    </tr>

    {% for appointment in appointments %}
    <tr>
        <td>{{ appointment.patient.full_name }}</td>
        <td>{{ appointment.date }}</td>
        <td>{{ appointment.time }}</td>
        <td>{{ appointment.reason }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="4">No upcoming appointments.</td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'clinician_appointments' %}" class="btn btn-success mt-3">View All Appointments</a>
{% endblock %}
